root = true

[*.cs]
dotnet_diagnostic.IDE1006.severity = error

dotnet_naming_rule.types_pascal.symbols = types
dotnet_naming_rule.types_pascal.style = pascal
dotnet_naming_rule.types_pascal.severity = error
dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum, delegate

dotnet_naming_rule.members_pascal.symbols = members
dotnet_naming_rule.members_pascal.style = pascal
dotnet_naming_rule.members_pascal.severity = error
dotnet_naming_symbols.members.applicable_kinds = method, property, event

dotnet_naming_rule.constants_pascal.symbols = constants
dotnet_naming_rule.constants_pascal.style = pascal
dotnet_naming_rule.constants_pascal.severity = error
dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_rule.visible_fields_pascal.symbols = visible_fields
dotnet_naming_rule.visible_fields_pascal.style = pascal
dotnet_naming_rule.visible_fields_pascal.severity = error
dotnet_naming_symbols.visible_fields.applicable_kinds = field
dotnet_naming_symbols.visible_fields.applicable_accessibilities = public, protected, protected_internal, private_protected

dotnet_naming_rule.private_static_fields.symbols = private_static_fields
dotnet_naming_rule.private_static_fields.style = static_field
dotnet_naming_rule.private_static_fields.severity = error
dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private, internal
dotnet_naming_symbols.private_static_fields.required_modifiers = static

dotnet_naming_rule.private_fields.symbols = private_fields
dotnet_naming_rule.private_fields.style = instance_field
dotnet_naming_rule.private_fields.severity = error
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private, internal

dotnet_naming_rule.parameters_camel.symbols = parameters
dotnet_naming_rule.parameters_camel.style = camel
dotnet_naming_rule.parameters_camel.severity = error
dotnet_naming_symbols.parameters.applicable_kinds = parameter

dotnet_naming_rule.locals_camel.symbols = locals
dotnet_naming_rule.locals_camel.style = camel
dotnet_naming_rule.locals_camel.severity = error
dotnet_naming_symbols.locals.applicable_kinds = local

dotnet_naming_style.pascal.capitalization = pascal_case
dotnet_naming_style.camel.capitalization = camel_case
dotnet_naming_style.instance_field.required_prefix = _
dotnet_naming_style.instance_field.capitalization = camel_case
dotnet_naming_style.static_field.required_prefix = s_
dotnet_naming_style.static_field.capitalization = camel_case
